#listOfWordsContainer {
  height: fit-content;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 30px;
}

#listOfWordsContainer > .list {
  width: 90%;
}

.groupNameContainer{
  width: 20vw;
  height: 10vh;
  margin-bottom: 5vh;
}