* {
  font-family: century-gothic, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#topBarContainer {
  position: fixed;
  top: 0;
}
