#quizContainer {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

#quizContainer > .boxContainer {
  width: 700px;
  height: 200px;
}

#quizContainer > .optionButtonContainer {
  width: 700px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#quizContainer > .optionButtonContainer > button {
  width: 48%;
  height: 45%;
  font-size: 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 16px;
}

#quizContainer > .optionButtonContainer > button:hover {
  background-color: #000000cc;
  cursor: pointer;
}

#quizContainer > .optionButtonContainer ._correct {
  background-color: green;
}

#quizContainer > .optionButtonContainer ._correct:hover {
  cursor: auto;
  background-color: green;
}

#quizContainer > .optionButtonContainer ._incorrect {
  background-color: red;
}

#quizContainer > .optionButtonContainer ._incorrect:hover {
  cursor: auto;
  background-color: red;
}
