.container {
  display: flex;
  width: 50vw;
  height: 60vh;
  min-width: 700px;
  min-height: none;
  border: 4px solid;
  flex-direction: column;
  border-radius: 20px;
  font-size: 50px;
  justify-content: space-around;
}

.startButton {
  width: 10vw;
  height: 5vh;
  min-width: 100px;
  font-size: 20px;
}


.startButton:disabled {
  background-color: #555555;
}

.startButton:disabled:hover {
  background-color: #555555;
  cursor: auto;
}

.container button {
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 20px;
}

.container button:hover {
  background-color: #000000cc;
  cursor: pointer;
}

.container .startButton {
  height: 7vh;
}

.questionAmount {
  display: flex;
  width: 80%;
  height: 10%;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
}

.questionAmount input {
  border: 1px solid black;
  margin-inline: 10px;
  width: 70px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  user-select: none;
  font-size: 30px;
}
.questionAmount div {
  display: flex;
}

.questionAmount button {
  width: 50px;
  font-size: 40px;
}

.questionAmount button:disabled {
  background-color: #0000009a;
  cursor: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.groupDropdown {
  width: 60%;
  min-width: 200px;
  height: 20%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.groupDropdown > div {
  width: 50%;
  min-width: 40px;
}
